@font-face {
    font-family: brax;
    src: url(Fonts/BraxtonDemo-Regular.otf);
}

*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    font-size: 24px;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    margin: 0;
}

.intro__container {
    padding-top: 100px;
    height: 100vh;
}

.intro__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.intro__welcome,
.intro__name,
.intro__profession {
    flex-basis: 100%;
    text-align: center;
}

.intro__welcome {
    font-size: 3rem;
    font-family: Varela, sans-serif;
}

.intro__name {
    font-size: 8rem;
    margin: 0;
    font-family: brax;
    text-shadow: 5px 5px #fb8c00;
}

.intro__profession {
    font-size: 1.9rem;
    margin: 10px;
    font-style: italic;
    color: white;
    font-family: Varela, sans-serif;
}

.myButton {
	background-color: #fb8c00;
	border-radius: 28px;
	border: 2px solid #fb8c00;
	cursor: pointer;
	color: #ffffff;
    font-family: Valera , sans-serif;
    font-size: 24px;
    padding: 3px 19px;
    transition: all .4s ease-in-out;
    margin: 50px 0;
    text-decoration: none;
    width: 180px;
    text-align: center;
}

.myButton p {
    display: inline;
    margin: 0;
}

.myButton:hover {
    background-color: rgba(0,0,0,0);
    color: #fb8c00;
    transform: scale(0.9);
}

.myButton:active {
	position: relative;
	top: 1px;
}

.myButton:hover i.fas{
    display: inline-block;
    animation: linear up-down .8s infinite;
}

i.fas,
.myButton:hover p {
    display: none;
}

.myButton:hover p {
    color: red;
}

.myButton:hover .arrow::before {
    display: block;
}

#about {
    height: 100vh;
    background-color: white;
    margin: 0;
}

.main__menu {
    transition: 0.5s;
    width: 300px;
    height: 100vh;
    background-color: #fb8c00;
    margin: 0;
    padding: 30px 0px 30px 0;
    position: fixed;
    left: -300px;
    list-style-type: none;
}

.main__menu li {
    line-height: 4rem;
    padding: 0 30px;
    font-family: VAlera;
}

.asd{
    width: 40px;
    height: 40px;
    background-color:#fb8c00;
    position: fixed;
    border-radius: 28px;
    margin: 0;
}

.main__menu li:hover {
    background-color: #ffc046;
    color: white;
}

.asd:hover,
.asd:hover .main__menu {
    left: 0;
    position:absolute;
    transition: all 0.5s;
    position: fixed;
}

@keyframes up-down {
    0% {
        transform: translateY(-9px); 
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateY(9px); 
        opacity: 0;
    }
  }